<app-header [isLoggedIn]="isLoggedIn"> </app-header>
<section class="candidate">
  <div class="image">
    <div class="candidate-container">


      <button (click)="job()" type="button" class="btn btn-primary apply-button">Find me a job</button>
    </div>
  </div>


  <div class="candidate-container">
    <div class="">
      <div class="">

        <div class="candidate-container">
          <h3 class="heading heading-margins">
            BUILD YOUR CAREER AND LOVE THE WORK YOU DO.
          </h3>
          <hr class="border-2 border-purple" />
        </div>

        <div class="section-heading">
          <h5 class="section-description center">
            We match you with amazing opportunities at some of the best
            companies to work for.
          </h5>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container candidate-container">
      <div class="middle-content">
        <div>
          <h5 class="heading">Take the stress out of your job search!</h5>
        </div>
        <hr class="search-hr" />

        <div class="process-wrapper_text">
          <div class="how-it-works steps">
            <div class="how-it-works_step text">
              <div class="how-it-works_position">
                <div class="how-it-works_no">01</div>
              </div>
              <div class="how-it-works_content">
                <h3 class="how-it-works_headline">Create a Profile</h3>
                <p>
                  Free, no obligation registration. Tell us who you are and what
                  job you want.
                </p>
              </div>
            </div>

            <div class="how-it-works_step text">
              <div class="how-it-works_position">
                <div class="how-it-works_no">02</div>
              </div>
              <div class="how-it-works_content">
                <h3 class="how-it-works_headline">Be Verified</h3>
                <p>
                  We'll do a criminal check, qualifications check and make sure
                  you have all the documents required to start receiving jobs.
                </p>
              </div>
            </div>

            <div class="how-it-works_step text">
              <div class="how-it-works_position">
                <div class="how-it-works_no">03</div>
              </div>
              <div class="how-it-works_content">
                <h3 class="how-it-works_headline">Receive Offers</h3>
                <p>
                  Once your profile is verified. Sit back and let companies send
                  you interview requests.
                </p>
              </div>
            </div>

            <div class="how-it-works_step text">
              <div class="how-it-works_position">
                <div class="how-it-works_no">05</div>
              </div>
              <div class="how-it-works_content">
                <h3 class="how-it-works_headline">Get Hired</h3>
                <p>Choose which interview to accept and land your dream job.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container middle-content">
      <div class="company-title">
        <h5 class="company-title_line">
          Meet some of the companies hiring on EmpowerXx , From corporate to
          startups.
        </h5>
        <hr class="search-hr" />
        <div class="company-title_logos">
          <div class="logo">
            <img
              src="../../../assets/img/MultiChoice_small_logo trp.png"
              class="company-title_logo"
              alt="img"
            />
          </div>
          <div  class="logo">
            <img
              src="../../../assets/img/Deloitte_small_Logo trp.png"
              alt="img"
            />
          </div>

         <!--<div>
            <img
              src="../../../assets/img/faces/Boxfusion-small-logo-trp.png"
              class="company-title_logo"
              alt="img"
            />
          </div>-->


        </div>
      </div>
    </div>
  </div>
</section>

<div class="footer-main">
  <div class="home">
    <app-page-footer></app-page-footer>
  </div>
</div>
