<footer class="site-footer" >
  <div class="footer-page-main">
  <div class="container-fluid box">
    <div class="row">
      <div class="col image">
        <img class="image" src="../../../assets/img/exx_logo_full.png" alt="">
      </div>
     <div class = "col">
      <h6 class="topic" >Candidate</h6>
      <ul class="margins">
          <li><a href="#/candidatehowitworks">How it works</a></li>
         <!-- <li><a href="#/referrals">Refer a Friend</a></li>-->
          <li><a href="#/faqcandidate">FAQ</a></li>
      </ul>

     </div>
     <div class = "col">
      <h6 class="topic"  >Employer</h6>
      <ul class="margins" >
          <li><a href="#/employerhowitworks">How it works</a></li>
          <li><a href="#/faqemployer">FAQ</a></li>
      </ul>
     </div>

     <div class = "col">
      <h6 class="topic"  >Company</h6>
      <ul class="margins" >
          <li><a href="#/team">The Team</a></li>
        <!--<li><a href="#/careers">Careers</a></li>-->  
          <li><a href="#/contact">Contact us</a></li>
      </ul>
     </div>

     <div class = "col">
      <h6  class="topic"  >Social</h6>
      <a href="https://www.facebook.com/empowerxx" target="_blank" class="fa fa-facebook"></a>
      <a href="https://twitter.com/EmpowerXx" target="_blank" class="fa fa-twitter"></a>
      <a href="https://www.linkedin.com/company/37802717/" target="_blank" class="fa fa-linkedin"></a>
      <a href="https://www.instagram.com/empower_xx/" target="_blank" class="fa fa-instagram"></a>
     </div>

    </div>
    <hr>
    <div class="row">
      <div class="fba-links terms" >
        <ul >
            <li><a href="#/terms"><small>Terms & Conditions</small></a></li>
            <li><a href="#/privacy"> <small>Privacy Policy</small></a></li>
        </ul>
       </div>
    </div>
  </div>
</div>
<div class="copyright">
  Copyright © {{year}} EmpowerXx
</div>
</footer>
