
<app-header [isLoggedIn]="isLoggedIn"> </app-header>

<div class="container">
  <h1 class="center heading">
      OUR TEAM
   </h1>
   <p class="center description ">
      We are a young team passionate about connecting WOMEN to their next great opportunity!
   </p>

   <div class="box margins">
    <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="../../../assets/img/team/zandile.jpg">
              </div>
              <div class="team-content">
                  <h3 class="title">Zandile Mkwanazi</h3>
                  <span class="post">Managing Director</span>
                  <ul class="social">
                      <li><a target="_blank" href="https://twitter.com/zandy_keebine" class="fa fa-twitter"></a></li>
                      <li><a target="_blank" href="https://www.linkedin.com/in/zandile-mkwanazi/" class="fa fa-linkedin"></a></li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="../../../assets/img/team/Lulu.jpeg">
              </div>
              <div class="team-content">
                  <h3 class="title">Lulu</h3>
                  <h3 class="title">Ndlovu</h3>
                  <span class="post">Software Developer</span>
                  <ul class="social">
                      <li><a target="_blank" href="#" class="fa fa-twitter"></a></li>
                      <li><a target="_blank" href="#" class="fa fa-linkedin"></a></li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="../../../assets/img/team/nsovo.png">
              </div>
              <div class="team-content">
                  <h3 class="title">Nsovo Manganyi</h3>
                  <span class="post">Software Developer</span>
                  <ul class="social">
                      <li><a target="_blank" href="https://twitter.com/Nsovoo" class="fa fa-twitter"></a></li>
                      <li><a target="_blank" href="https://www.linkedin.com/in/nsovo-manganyi-574b983b/" class="fa fa-linkedin"></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
   </div>

</div>

<div class="footer-main">
  <div class="home">
    <app-page-footer></app-page-footer>
  </div>
</div>
