<app-header [isLoggedIn]="isLoggedIn"> </app-header>

<section class="section section--small">
  <div class="container container--small">
      <h5 style="text-align:center">
          FREQUENTLY ASKED QUESTIONS
      </h5>
      <hr>
      <h5>
          How much does it cost?
      </h5>
     <p>
      We charge a one-time fee of 12.5% of a new hire’s base salary.
      We also offer annual subscriptions for companies looking to hire more than one candidate.
      If for some reason a new hire doesn’t work out, we offer a 100% money-back guarantee for 90 days.
     </p>
     <h5>
      Why Hire through EmpowerXx?
     </h5>
     <p>
      Growing a successful business begins with hiring exceptional female talent.
      EmpowerXx offers the most efficient, transparent, and cost-effective way to scale your team.
      Use our online talent marketplace to connect directly with talented, vetted female candidates.
      We’ve developed machine learning models that track real-time data, monitor trends, and predict hiring behavior
      in order to effectively place candidates with more accuracy, speed, and compatibility.
     </p>
     <h5>
      How does EmpowerXx work?
     </h5>
     <p>
      Once you have completed the registration process. You will be assigned a dedicated Account Manager to provide assistance and support throughout the recruiting process.
      your Account Partner will reach out to discuss your preferences and requirements and make sure that you receive the best and most efficient service.
     </p>
    <h5>
      What kind of candidates are on EmpowerXx?
      </h5>
      <p>
          EmpowerXx’s marketplace is filled with exceptional candidates who are looking for tech or business roles.
          A few examples of technical roles we are looking to fill include: Software/Hardware/Mobile Engineer, UX/UI Designer, and Data Scientist, etc.
      </p>
      <h5>
          Am I able to contact a candidate outside of the EmpowerXx platform?
      </h5>
      <p>
          Unfortunately, no. If you have additional questions to ask a candidate, please reach out to your Account Manager.
      </p>



  </div>
</section>

<div class="footer-main">
  <div class="home">
  <app-page-footer></app-page-footer>
  </div>
</div><section class="section section--small">
  <div class="container container--small">
      <h5 style="text-align:center">
          FREQUENTLY ASKED QUESTIONS
      </h5>
      <hr>
      <h5>
          How much does it cost?
      </h5>
     <p>
      We charge a one-time fee of 12.5% of a new hire’s base salary.
      We also offer annual subscriptions for companies looking to hire more than one candidate.
      If for some reason a new hire doesn’t work out, we offer a 100% money-back guarantee for 90 days.
     </p>
     <h5>
      Why Hire through EmpowerXx?
     </h5>
     <p>
      Growing a successful business begins with hiring exceptional female talent.
      EmpowerXx offers the most efficient, transparent, and cost-effective way to scale your team.
      Use our online talent marketplace to connect directly with talented, vetted female candidates.
      We’ve developed machine learning models that track real-time data, monitor trends, and predict hiring behavior
      in order to effectively place candidates with more accuracy, speed, and compatibility.
     </p>
     <h5>
      How does EmpowerXx work?
     </h5>
     <p>
      Once you have completed the registration process. You will be assigned a dedicated Account Manager to provide assistance and support throughout the recruiting process.
      your Account Partner will reach out to discuss your preferences and requirements and make sure that you receive the best and most efficient service.
     </p>
    <h5>
      What kind of candidates are on EmpowerXx?
      </h5>
      <p>
          EmpowerXx’s marketplace is filled with exceptional candidates who are looking for tech or business roles.
          A few examples of technical roles we are looking to fill include: Software/Hardware/Mobile Engineer, UX/UI Designer, and Data Scientist, etc.
      </p>
      <h5>
          Am I able to contact a candidate outside of the EmpowerXx platform?
      </h5>
      <p>
          Unfortunately, no. If you have additional questions to ask a candidate, please reach out to your Account Manager.
      </p>



  </div>
</section>

<div class="footer-main">
  <div class="home">
  <app-page-footer></app-page-footer>
  </div>
</div>
