<section>
  <app-header> </app-header>
  <div class="top-section">
    <div class="content">
      <div class="left-content">
       <div class="white-heading">
        <h1>{{title}}</h1>
       </div>
       <hr class="hr">
       <div class="buttons">
        <button type="button" class="btn btn-primary buttons-color">Apply now</button>
        <button type="button" class="btn btn-primary hire-button buttons-color">Hire Talent</button>
       </div>
      </div>
      <div class="right-content">
        <object data="assets/img/homepic-min.png" width="600" height="560"></object>
      </div>
    </div>

  </div>
</section>
