<app-header [isLoggedIn]="isLoggedIn"> </app-header>

<div class="employer details-container ">
  <section >
    <div class="image">
      <div class="employer-container">
        <button type="button" (click)="hire()" class="btn apply-button">
          Hire Talent
        </button>
      </div>
    </div>
    <div class="employer-container">
      <div class="">
        <div class="">

          <div class="employer-container">
            <h4 class="heading  heading-margins">
              BUILD YOUR TEAM WITH QUALIFIED FEMALE TALENT
            </h4>
            <hr class="border-2 border-purple" />
          </div>

          <div class="section-heading">
            <h5 class="section-description">
              Diverse and Inclusive companies perform better! Get instant access to a pool of highly skilled women.
            </h5>
          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container employer-container">
        <div class="middle-content">
          <div>
            <h5 class="heading">Hiring Female Tech Talent, Made Simple!</h5>
          </div>
          <hr class="search-hr" />

          <div class="process-wrapper_text">
            <div class="how-it-works steps">
              <div class="how-it-works_step text">
                <div class="how-it-works_position">
                  <div class="how-it-works_no">01</div>
                </div>
                <div class="how-it-works_content">
                  <h3 class="how-it-works_headline">Verified Candidates</h3>
                  <p>
                    All candidates are verified through a criminal record check,
                    qualifications check and ID check.
                  </p>
                </div>
              </div>

              <div class="how-it-works_step text">
                <div class="how-it-works_position">
                  <div class="how-it-works_no">02</div>
                </div>
                <div class="how-it-works_content">
                  <h3 class="how-it-works_headline">Proven Skills</h3>
                  <p>
                    Assess candidates' strengths and weaknesses with online technical skills assessments,
                    psychometric and business knowledge assessments to reduce bias based on a resume.
                  </p>
                </div>
              </div>

              <div class="how-it-works_step text">
                <div class="how-it-works_position">
                  <div class="how-it-works_no">03</div>
                </div>
                <div class="how-it-works_content">
                  <h3 class="how-it-works_headline">Perfect Match</h3>
                  <p>
                    Our system will efficiently filter out unqualified candidates for you. Reducing your time spent interviewing weak candidates.
                    Giving you more time and information to make the best hires for your company
                  </p>
                </div>
              </div>

              <div class="how-it-works_step text">
                <div class="how-it-works_position">
                  <div class="how-it-works_no">05</div>
                </div>
                <div class="how-it-works_content">
                  <h3 class="how-it-works_headline">Dedicated Support</h3>
                  <p>Think of our Account Managers as part of your team. Our Account Managers are ready to expand your talent pool,
                    and help you achieve your hiring goals.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container middle-content">
        <div class="company-title">
          <h5 class="company-title_line">
            Meet some of the companies hiring on EmpowerXx , From corporate to
            startups.
          </h5>
          <hr class="search-hr" />
          <div class="company-title_logos">
            <div class="logo">
              <img
                src="../../../assets/img/MultiChoice_small_logo trp.png"
                class="company-title_logo"
                alt="img"
              />
            </div>
            <div class="logo">
              <img
                src="../../../assets/img/Deloitte_small_Logo trp.png"
                class="company-title_logo"
                alt="img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>


    </section>

  <div class="footer-main">
      <div class="home">
      <app-page-footer></app-page-footer>
      </div>
    </div>
  </div>
