
:host {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;

.employer{
  background-color: #EEF3F6;

  @media only screen and (max-width: 812px) {
  width: 100% ! important;
  background-color: #EEF3F6;
  height: 1536px;
  }

.employer-container{
    display: block;
    max-width: 1104px;
    margin: auto;
  }



  .border-2{
      border-width: 3px;
  }


.search-hr {
  margin-top: 0rem;
  border-top: 3px solid #ec70ed;
  width: 5%;
  margin-left: 31rem;
  position: absolute;

  @media only screen and (max-width: 812px) {
    width: 19%;
    margin-left: 7rem;
  }
}
}

.image {
    height: 415px;
    background-image: url(../../../assets/img/exx_home_middle_1024x770.jpg);
    position: relative;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 230px 0px 190px 0px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 812px) {
    width: 100%;
    }
}

.process-wrapper_text{
  margin-top: 35px;
}

.heading {
  text-align: center;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.heading-color {
  color: #FFF !important;
}

.heading-margins {
    margin-left: -69px;
  margin-top: 68px;

  @media only screen and (max-width: 812px) {
    margin-left: -1px;
  }
}

.middle-content{
  margin-top: 35px;
}

.border-purple{
  border-color: #ed70ed;
  width: 500px;
  margin-left: 312px;


  @media only screen and (max-width: 812px) {
    margin-left: 10px;
    width: 80%;
  }
}

.how-section1{
    margin-top:-10%;
    padding: 10%;
}
.how-section1 h4{
    color: #ed70ed;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #000000;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img
{
    text-align: center;
}
.how-img img{
    width: 60%;
}


  ::ng-deep .wrapper{
    height: auto !important;
  }

  .border-2{
      border-width: 3px;
  }

  .text{
    flex:1
  }

.black-text {
  margin-top:30px;
  color:#000;
}
.about-text p {
    line-height: 30px;
    color: #343333;
    font-weight: 500;
    font-size: 17px;
	margin-bottom: 50px;
}
.about_img-inner{
    margin: 0px 45px;
}

.space-60{
    margin-top:60px;
}

.company-title_line {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;

}

.company-title_logos {
  display: flex;
  text-align: center;

  .logo{
    flex:1;
  }


    @media only screen and (max-width: 812px) {
      display: block;
    }
}

.company-title_logo {
    margin-right: 30px;
    margin-bottom: 20px;
}

.how-it-works_step {
    display: flex;
    margin-bottom: 15px;
}

.text-image-wrapper__text {
    width: 380px;
}

.how-it-works_position {
    width: 32px;
    margin-right: 30px;
}

.how-it-works_no {
    line-height: 2.4em;
    font-weight: 600;
    color: white;
    width: 32px;
    height: 32px;
    background-color: #ed70ed;
    text-align: center;
}

.how-it-works_headline {
    color: #000;
    margin-top: 0;
    font-size: 1.286em;
    line-height: 22px;
}

.apply-button {
  background-color: #ec70ed;
  border: 2px solid #ec70ed;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-left: 446px;
  margin-top: 95px;
  color: #fff;

  @media only screen and (max-width: 812px) {
  margin-left: 60px;
  }


}
.section-heading{
  @media only screen and (max-width: 812px) {
  font-size: 12px;
  margin-left: 10px;
  }
}
}
