
::ng-deep .header-right-content{
  display: none;
}

.section {
    position: relative;
  }

  .section.section--small {
    padding: 24px 0;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 1140px;
    padding: 0 24px;
  }
  .container.container--small {
    width: 750px;
  }

  ::ng-deep .wrapper{
    height: auto !important;
  }
