<app-header [isLoggedIn]="isLoggedIn"> </app-header>

<section class="section section--small">
  <div class="container container--small">
      <h5 class="center heading">
          FREQUENTLY ASKED QUESTIONS
      </h5>
      <P>
          Part of better hiring is better transparency. We're here to answer any questions you have.
          If you can't find the answer to your question below, reach out to us on our contact page.
      </P>
      <hr>
    <h5>
      Why use EmpowerXx?
    </h5>
    <p>
      Our mission is to help you find a job you love.
      Once you’re accepted into the EmpowerXx marketplace, we’ll help connect you directly with top companies actively hiring.
      With EmpowerXx, you’ll receive interview requests directly from interested companies.
      It’s the easiest way to see what opportunities are out there, without endless cover letters, job applications, headhunters, etc.
   </p>
  <h5>
      Do I have to take the job if I accept an Invitation?
  </h5>
   <p>
      Not at all, an invitation is just a way for companies to reach out to you in order to set up an initial conversation or interview.
      You can accept as many invitations as you’d like. We recommend responding to invitations as early as possible because the hiring process is quite competitive.
      Plus, it’s a chance to explore and have a conversation with interested companies without a commitment.
   </p>

   <h5>
      How much does it cost?
   </h5>
   <p>
      Nothing! EmpowerXx is free for job-seekers.
   </p>

   <h5>
      What kind of employers are on EmpowerXx?
   </h5>
   <p>
      We carefully select our partners to make sure they are sincerely looking to hire
      and to ensure they are transparent about roles and compensation.
      We have a wide range of companies including both top-notch startups and larger, more established companies.
   </p>

   <h5>
      How long will employers be able to view my profile?
   </h5>

   <p>
      Once your registration is compelte, your profile will be live immedietly.
      You can remove yourself from EmpowerXx at any time.
   </p>

   <h5>
      Will I be able to see the employers on the marketplace and proactively reach out to them?
   </h5>
   <p>
      No, employers will be able to see your profile and can reach out to you with a request to interview.
   </p>
   <h5>
      What is the format of the interviews?
   </h5>

   <p>
      The interview depends on the role and company you are interviewing for. Typically, companies assess both technical and soft skills through introductory phone calls and /
       or on-site meetings. Our Talent Team will be happy to discuss the typical company-specific process of the companies to help you prepare for interviews.
   </p>

   <h5>
      How long will it take to get a job?
   </h5>
   <p>
      It depends on your process and the amount of interview requests you accept or decline.
      We’ve seen that generally it takes 2-3 weeks for an invitation and initial conversation to turn into a final job offer.
      Keep in mind that employers can speed up or slow this down depending on their urgency and internal processes.
   </p>
   <h5>
      What kind of support does EmpowerXx offer during the recruiting process?
   </h5>
   <p>
      All candidates are assigned a Talent Executive who will assist and support them during the process.
      Once your profile is approved, your Talent Executive will be there to:
   </p>
   <ul >
      <li><p >Discuss what you're looking for in your next job</p></li>
      <li><p >   Discover what's important to you, so we can help you find what you love</p></li>
      <li><p >Prepare you for interviews with inside looks at a company's culture and process</p></li>
      <li><p >Help you manage and track your interview processes</p></li>
      <li><p > Answer any questions you have along the way</p></li>
  </ul>

</div>
</section>

<div class="footer-main">
 <div class="home">
 <app-page-footer></app-page-footer>
 </div>
</div>
